<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <title>Public Game</title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <!-- Replace version in the URL with desired library version -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps.css"
    />
    <style>
      #map {
        width: 75vw;
        height: 98vh;
      }
    </style>
  </head>
  <body>
    <div id="map" class="map"></div>
    <!-- Replace version in the URL with desired library version -->
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps-web.min.js"></script>
    <script>
      var map = tt.map({
        key: "S2oPYjoq5sNa8lSADIOzsvTlB8E25a4T",
        container: "map"
      });

      var markerLayer = tt.MarkerLayer({ draggable: true }).addTo(map);

      map.on('click', function (event) {
        var { lng, lat } = event.lngLat;

        markerLayer.setLngLat([lng, lat]);

        displayCoordinates(lat, lng);
      });

      function displayCoordinates(lat, lng) {
        var coordinatesElement = document.getElementById('coordinates');
        coordinatesElement.textContent = 'Latitude: ' + lat + ', Longitude: ' + lng;
      }
    </script>
  </body>
</html>
