<%= render partial: "shared/nav" %>

<!DOCTYPE html>
<html>
<meta name="google-signin-client_id" content="173864330669-0kd95lff9amkp0ku3a0e6tn6dn9klnvh.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="g-signin2" data-onsuccess="onSignIn"></div>

<%# <button id="signOutBtn" onclick="signOut();" data-onsuccess="onSignOutSuccess" class="g-signout2">Sign out</button> %>

<form action="/login" method="post" id="userForm" style="display: none;">
  <input type="hidden" id="userIdInput" name="user_id">
  <input type="hidden" id="userNameInput" name="user_name" placeholder="User Name">
  <input type="hidden" id="emailInput" name="user_email" placeholder="Email">
  <button type="button" onclick="submitForm()">Submit</button>
</form>

<script>
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    // var imageUrl = profile.getImageUrl();

    document.getElementById('userIdInput').value = profile.getId();
    document.getElementById('userNameInput').value = profile.getName();
    document.getElementById('emailInput').value = profile.getEmail();
    submitForm();
  }

  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }

  function submitForm() {
    var form = document.getElementById('userForm');
    form.submit();
  }
</script>
</html>