<div class="nav-container container-fluid">
  <nav class="navbar navbar-light bg-light">
    <div class="logo">
      <%= link_to "/" do %>
        <%= image_tag "logo.png", style: 'height: 30px; margin-right: 10px;' %>
      <% end %>
    </div>
    <div class="navbar-links">
      <%= link_to 'New User', users_new_path %>
      <%= link_to 'Login', login_path %>
    </div>
  </nav>
</div>