<%= render partial: "shared/nav" %><style>
  
   #how_to {
    position: fixed;
    width: 92%;
    height: 83%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    border-style: solid;
    border-width: medium;
  }
</style>

<%# <div><%= button_to 'Login', '/login', method: :get</div> %>

<%# <div><%= button_to 'Create Account', '/users/new', method: :get</div>  %>

<p id='