
<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'shared/nav' %>
    <style>  
      #how_to {
        position: fixed;
        width: 92%;
        height: 83%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5%;
        border-style: solid;
        border-width: medium;
        color: #455a64; /* Currently same as navbar */
      }
    </style>
  </head>

  <body>
    <div class='container'>
      <img id='how_to' src='assets/how_to.png' class='mx-auto d-block img-fluid' />
    </div>
  </body>
</html>
